<!DOCTYPE html>
<html>
  <head>
    <title>Include Web</title>
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="../materialize.css"  media="screen,projection"/>
    <link type="text/css" rel="stylesheet" href="css/gradients.css"  media="screen,projection"/>
    <link href='https://fonts.googleapis.com/css?family=Exo+2:400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link href='https://fonts.googleapis.com/css?family=Righteous' rel='stylesheet' type='text/css'>
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <style type="text/css">
       body{
        /*background-image: url('images/background.jpg');
        background-size: cover;*/
        text-align: center; 
       
        
      }
      /*h1{
        font-family: 'Exo 2', sans-serif;
        color:#fff;
        text-align: center;
        font-size: 80px;
      }*/
      h1{
        font-family: 'Righteous';
        color:#fff;
        text-align: center;
        font-size: 80px;
      }
    </style>

  </head>
  <body class="gradient6">
  <img src="images/logo-blanco2.png" />
  </body>

 </html>